.history {
  .header {
    color: #3f373a;
    font-size: 28px;
    font-family: Jost;
    font-style: normal;
    font-weight: 500;
    line-height: 112.953%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .select {
    margin-top: 36px;
    width: 157px;
  }
  .histories {
    margin-top: 27px;
    .loader {
      height: 200px;
      width: 80%;
    }
  }
}
