@import "../../variables.scss";

.ab-button {
  //basic styles
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  color: $secondary-brown;
  cursor: pointer;
  border: none;
  width: fit-content;
  background: $primary-brown;
  border-radius: 10px;
  &.theme-dark {
    background-color: #1e4552;
    color: white;
  }
  &.hidden {
    visibility: hidden;
  }
  &:hover {
    box-shadow: none;
    border: 2px solid $primary-brown;
    color: $primary-brown;
    background-color: $white;
  }
}
