@import "../../variables.scss";

.ab-button {
  //basic styles
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  width: fit-content;
  border-radius: 10px;
  &.WHITE {
    background-color: white;
    border: 1px solid $primary-brown;
    color: $primary-brown;
  }
  &.BROWN {
    color: white;
    background: $primary-brown;
  }
  &.BROWN:hover {
    box-shadow: none;
    border: 1px solid $primary-brown;
    color: $primary-brown;
    background-color: $white;
  }
  &.WHITE:hover {
    box-shadow: none;
    border: none;
    color: white;
    background: $primary-brown;
  }
}
