.shopcategories {
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  background: #f7f6f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 10px 10px 38px;
  height: 30px;
  .left {
    display: flex;
    gap: 61px;
    align-items: center;
    .taboption {
      color: #615c5e;
      .active {
        color: #b06934;
        background-color: black;
      }
      cursor: pointer;
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 112.953%; /* 18.073px */
    }
  }

  .right {
    margin-right: 30px;
    display: flex;
    align-items: center;
    color: #696466;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
