.productDesc {
  font-family: Jost;
  background-color: white;
  display: flex;
  height: 80vh;
  padding-top: 50px;
  .left {
    flex: 1;
  }
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    .name {
      color: #3f373a;
      font-family: Gelasio;
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .price {
      margin-top: 12px;
      color: #b06934;
      font-family: Jost;
      display: flex;
      align-items: center;
      gap: 20px;
      font-size: 34px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      .disc {
        color: #615c5e;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.453%; /* 21.502px */
        .strike {
          text-decoration-line: line-through;
        }
      }
    }
    .desc {
      width: 80%;
      margin-top: 35px;
      color: #636363;
      font-family: Jost;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 119.453%; /* 21.502px */
    }
    .info {
      display: flex;
      align-items: center;
      gap: 24px;
      margin-top: 35px;
      .infosec {
        color: #433e40;
        font-family: Jost;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 119.453%; /* 21.502px */
      }
    }
    .otherInfo {
      margin-top: 36px;
      .l1 {
        display: flex;
        align-items: center;
        gap: 15px;
      }
    }
    .starRating {
      margin-top: 35px;
    }
    .quant {
      margin-top: 35px;
    }
    .btnrow {
      margin-top: 35px;
      display: flex;
      align-items: center;
      gap: 18px;
      button {
        width: 138px;
        height: 40px;
        text-align: center;
        font-family: Jost;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        svg {
          color: #433e40;
        }
      }
    }
  }
}
.productLoader {
  height: 70vh;
  display: flex;
  // justify-content: center;
  align-items: center;
  gap: 200px;
  padding: 20px;
  width: 100vw;
  .leftLoader {
    // width: 100vw;
    width: 40%;
    // width: 90%;
    height: 70vh;
  }
  .rightLoader {
    // width: 100vw;
    width: 60%;
    height: 70vh;
  }
}
