.p2sub {
    display:flex;
    flex-direction: row;
    margin-top: 1%;
    width:65%;
    margin-left:35px;
    height:6vh;
    box-sizing: border-box;
    padding:2px;
    
    .add {
      background-color: #e8e4e1;
      width: 20%;
      border: none;
      height:100%;
      margin-left:8px;
      border-radius: 8px 0 0 8px;
      box-sizing:border-box;

    }
    .minus {
      background-color: #e8e4e1;
      width: 20%;
      border: none;
      height:100%;
      border-radius: 0 8px  8px 0;
      box-sizing:border-box;
       }
    .quantity {
      color: #3f373a;
      text-align: center;
      font-size: 15px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      background-color: #e8e4e1;
      width: 20%;
      border: none;
      height:100%;
      box-sizing:border-box;

      
    }
  }