.switch {
  position: relative;
  cursor: pointer !important;
  user-select: none;
  width: 48px;
  height: 24px;
  .checkmark {
    cursor: pointer !important;
    background-color: #abb1b9;
    position: absolute;
    top: -1px;
    left: 0;
    width: 48px;
    height: 24px;
    border-radius: 16px;
    transition: 0.3s;
    &:after {
      content: "";
      position: absolute;
      left: 4px;
      top: 4px;
      width: 16px;
      height: 16px;
      background: white;
      border-radius: 50%;
      transition: 0.3s;
    }
  }
  input {
    display: none;
    &:checked ~ .checkmark {
      background: #433e40;
    }
    &:disabled ~ .checkmark {
      opacity: 0.5;
    }
    &:checked ~ .checkmark:after {
      left: 26px;
    }
  }
}

@media screen and (max-width: 550px) {
  .switch {
    width: 40px;
    height: 20px;
    .checkmark {
      left: 0;
      width: 40px;
      height: 20px;
      border-radius: 20px;

      &:after {
        left: 3px;
        top: 3px;
        width: 14px;
        height: 14px;
      }
    }
    input {
      &:checked ~ .checkmark:after {
        left: 23px;
      }
    }
  }
}
