.password {
  width: fit-content;
  height: auto;
  .inputwrapper {
    position: relative;
    display: flex;
    align-items: center;
    .eyeicon {
      position: absolute;
      right: 20px;
    }
    input {
      border-radius: 5px;
      border: 1px solid #a9a5a2;
      background: #f7f6f5;
    }
  }
}
