@import "../../variables.scss";

.profile {
  display: flex;
  height: 100%;
  width: 100%;
  font-family: "Jost", sans-serif;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0px 32px;
    .info {
      margin-top: 30px;
      display: flex;
      align-items: center;
      gap: 18px;
      width: 100%;
      img {
        border-radius: 61px;
        border: 2px solid #fff;
        width: 61px;
        height: 61px;
        background: lightgray 50% / cover no-repeat;
      }
      .name {
        color: $brown6;
        h3 {
          color: #3f373a;
          font-family: Jost;
          font-size: 16px;
          font-style: normal;
          font-weight: 300;
          line-height: 112.953%;
        }
        h4 {
          color: #3f373a;
          font-family: Jost;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 112.953%;
        }
      }
    }
    .hr {
      width: 95%;
      height: 1px;
      background: #a9a5a2;
    }
    .bottom {
      display: flex;
      gap: 30px;
      flex-direction: column;
      .listOption {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 20px;
        color: #615c5e;
        font-family: Jost;
        font-size: 20px;
        font-style: normal;
        line-height: 112.953%;
        .active {
          font-weight: 500;
        }
        .option {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 400;
          width: 200px;
          svg {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  }

  .right {
    background-color: white;
    flex: 5;
    padding: 50px 45px;
  }
}
