.tracker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-left: 30px;
  gap: 30px;
  .activity {
    display: flex;
    justify-content: center;
    gap: 16px;
    ::before {
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      background: #917d6a;
      width: 36px;
      height: 36px;
    }
    .text {
      display: flex;
      flex-direction: column;
      width: 100px;
      h4 {
        color: #3f373a;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 119.453%;
      }
      h5 {
        width: 100%;
        color: #636363;
        font-family: Jost;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 119.453%;
      }
    }
  }
}
