.addImageWrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  padding: 22px;
  .left {
    width: 200px;
    color: var(--font-mid, #615c5e);
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 112.953%; /* 22.591px */
  }
  .imageLoader {
    width: 90%;
    height: 200px;
  }
  .right {
    width: 71%;
    padding: 20px 40px;
    display: flex;
    align-items: flex-start;
    gap: 30px;
    row-gap: 15px;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    .primaryHover {
      height: 222px;
      width: 222px;
      display: flex;
      gap: 15px;
      align-items: center;
      background: rgba(217, 217, 217, 0.49);
      backdrop-filter: blur(6px);
      justify-content: center;
      svg {
        cursor: pointer;
        height: 24px;
        width: 24px;
      }
    }
    .primaryImage {
      width: 222px;
      height: 222px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 10px;
      border: 1px dashed var(--font-mid, #615c5e);
    }
    .secondaryImages {
      display: flex;
      align-items: center;
      gap: 30px;
      .secondaryImage {
        display: flex;
        width: 135px;
        height: 123px;
        border-radius: 10px;
        border: 1px solid black;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .secHover {
        background: rgba(217, 217, 217, 0.49);
        backdrop-filter: blur(6px);
        width: 135px;
        height: 123px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        .hover {
          display: flex;
          gap: 15px;
          svg {
            cursor: pointer;
            height: 24px;
            width: 24px;
          }
        }
      }
    }
  }
}
