@import "../variables.scss";
.routePageContainer {
  background: $secondary-brown;
  height: 100vh;
  width: 100vw;
  .blur {
    display: flex;
    flex-direction: column;
    gap: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    .routeContainer {
      height: calc(100vh - 80px);
      // height: 100vh;
      // width: 100vw;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}
