@import "../../../../../variables.scss";

.filter {
  background: $lightBrown;
  flex: 1;
  display: flex;
  flex-direction: column;
  //   justify-content: space-between;
  align-items: center;
  //   gap: 15px;
  height: 100%;
  width: 100%;
  //   padding-left: 40px;
  .top {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 25px;
    // margin-left: 10px;
    margin: 0 auto;
    width: 90%;
    input {
      padding: 11px 22px;
      height: 10px;
      width: 80%;
      border-radius: 10px;
      border: 1px solid #c4c4c4;
      background: rgba(255, 255, 255, 0.3);
    }
    svg {
      position: absolute;
      right: 15%;
    }
  }

  .filter1,
  .filter2,
  .filter3,
  .filter4 {
    width: 100%;
    // margin-left: 40px;
    // margin-top: 30px;
    h4 {
      color: $brown5;
      font-family: Jost;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 112.953%; /* 20.332px */
    }

    .filterOptions {
      display: flex;
      flex-direction: column;
      gap: 14px;
      margin-top: 20px;
      .filterOption {
        display: flex;
        align-items: center;
        gap: 14px;
        span {
          color: #615c5e;
          font-family: Jost;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 112.953%; /* 18.073px */
        }
      }
    }

    .filter4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  button {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0 auto;
  }
}
