/* Hcard.module.scss */
.hcard {
  display: flex;
  .main {
    width: 139px;
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cdcdcd;
    border-radius: 5px;
    // padding: 9px 33px;
    margin-right: 10px;
    img {
      width: 73px;
      height: 121px;
      object-fit: content;
    }
  }
  .p1 {
    width: 30%;
    // padding-top: 3%;
    margin-left: 33px;
    display: flex;
    margin-top: 19px;
    flex-direction: column;
    .p1Text {
      color: #636363;
      font-family: Gelasio;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .link {
      cursor: pointer;
      margin-top: 2px;
      color: #b06934;
      font-size: 16px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      line-height: 112.953%;
      text-decoration-line: underline;
    }
  }
  .p2 {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 33px;
    margin-top: 19px;
    gap: 0px;

    .trash {
      // width: 10%;
      margin-left: 30px;
      cursor: pointer;
      position: relative;
      // right: 40%;
      margin-top: 5%;
    }
  }
  .p3 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 50px;
    margin-top: 15px;
    .discountedprice {
      color: #b06934;
      font-family: Jost;
      font-size: 24px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .rate {
      color: #615c5e;
      font-size: 18px;
      font-family: Jost;
      font-style: normal;
      font-weight: 400;
      line-height: 119.453%;
      .strike {
        text-decoration: line-through;
      }
    }
  }
}

/* Add other styling properties as needed */
