/* Hcard.module.scss */
.hcard {
  display: flex;
  
  .main {
    width: 139px;
    height: 139px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cdcdcd;
    border-radius: 5px;
    background: #e8e4e1;
    padding: 9px 33px;
    margin-right:10px;

    img {
      width: 73px;
      height: 121px;
      object-fit: content;
      
    }
  }
  .p1 {
    // width: 30%;
    // padding-top: 3%;
    display: flex;
    flex-direction: column;
    .p1Text {
      color: #636363;
      font-size: 24px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    a {
      color: #b06934;
      font-size: 16px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      line-height: 112.953%;
      text-decoration-line: underline;
    }
  }
  .p2 {
    display: flex;
    flex-direction: row;
    width:30%;
    .p2sub {
      margin-top: -1%;
      width:65%;
      margin-left:35px;
      
      .add {
        background-color: #e8e4e1;
        width: 19%;
        border-radius: 4px 0 0 4px;
        padding: 7px;
        border: none;
        height:43px;
        margin-left:8px;
        border-radius: 8px 0 0 8px;
      }
      .minus {
        background-color: #e8e4e1;
        width: 19%;
        border-radius: 0px 4px 4px 0px;
        margin-top: 10.8px;
        padding: 5px;
        border: none;
        height:43px;
        border-radius: 0 8px  8px 0;
        
        
      }
      .quantity {
        color: #3f373a;
        text-align: center;
        font-size: 15px;
        font-family: Jost;
        font-style: normal;
        font-weight: 500;
        background-color: #e8e4e1;
        width: 19%;
        margin-top: 10px;
        padding: 7px;
        border: none;
        height:42.8px;
        
      }
    }
    .trash {
      
      width:10%;  
      margin-top:6%;
      margin-left:-12%
      
    }
  }
  .p3 {
    .discountedprice {
      color: #b06934;
      font-size: 24px;
      font-family: Jost;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .rate {
      color: #615c5e;
      font-size: 18px;
      font-family: Jost;
      font-style: normal;
      font-weight: 400;
      line-height: 119.453%;
      text-decoration: line-through;
    }
  }
}

/* Add other styling properties as needed */
