.customerRow {
  width: 100%;
  display: flex;
  align-items: center;
  //   justify-content: space-around;
  height: 64px;
  color: #394759;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  border-bottom: 1px solid #dedede;
  line-height: 20px; /* 142.857% */
  text-align: center;

  .col1 {
    margin-bottom: 15px;
    width: 3%;
    margin-left: 50px;
  }
  .col2 {
    width: 15%;
    // margin-left: 20px;
  }
  .col3 {
    width: 15%;
  }
  .col4 {
    width: 15%;
  }
  .col5 {
    width: 15%;
  }
  .col6 {
    width: 15%;
    text-overflow: ellipsis;
    // margin-left: 30px;
  }

  .col7 {
    // margin-left: 70px;
    width: 10%;
    svg {
      cursor: pointer;
      width: 20px;
      height: 20px;
    }
  }
}
