*{
margin:0;
padding:0    
}
.wrapper {
    width: 100%;
    height: 100vh;
    background: #ECE8E5;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .ff {
        width: 70%;
        height: 10%;
        font-family: 'Gelasio';
        font-style: normal;
        font-weight: 500;
        font-size: 50px;
        margin:4% auto 1% auto;
        color: #433E40;
    }

    p {
        width: 70%;
        height: 128px;
        font-family: 'Futura Lt BT';
        font-style: normal;
        font-weight: 300;
        font-size: 25px;
        line-height: 112%;
        color: #433E40;
        margin:0 auto 1% auto;
       }

       .yy{
       width:68%;
       margin:1% auto 2% auto;
       display:flex;
       align-items: center;
       justify-content: space-between;
       button .gg {
           width: 60%;
           height: 31px;
           font-family: 'Gelasio';
           font-style: normal;
           font-weight: 600;
           font-size: 20px;
           line-height: 25px;
           display: flex;
           align-items: center;
           justify-content: center;
           color: #ECE8E5;
       }
       }  
    
    input[type="text"] {
        box-sizing: border-box;
        width: 60%;
        height: 54px;
        background: #FFFFFF;
        border: 1px solid #433E40;
        border-radius: 10px;
        padding-left: 20px;
        margin-right:5%
    }
    
    input[type="text"]:placeholder {
        position: absolute;
        width: 60%;
        height: 18px;
        font-family: 'Futura';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 112.95%;
        display: flex;
        align-items: center;
        color: #433E40;
    }
    
    button {
        width: 34%;
        height: 54px;
        background: #433E40;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right:8%;
    }
      
}

@media  (max-width:675px){
 .ff{
   margin-bottom:18%;
   padding:10%;
 } 
 p{
    margin-bottom:10%;     
    padding-bottom:10%;
 }  
.yy{
flex-direction:column;    

button{
width:100%;
margin:2% auto
}
input[type="text"]{
width:100%;   
margin:2% auto 
}
}}