@import "../../variables.scss";

.navbar {
  width: 100vw;
  padding-bottom: 10px;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  .left {
    padding: 0 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    .logo {
      .svg {
        height: 90px;
        width: 80px;
      }
    }
    .name {
      font-family: "Nunito Sans", sans-serif;
      font-style: normal;
      font-weight: 500;
      color: $white;
      font-size: 40px;
    }
  }
  .right {
    padding: 0 50px;
    display: flex;
    align-items: center;
    gap: 30px;
    .btn {
      font-family: "Nunito Sans", sans-serif;
      font-style: normal;
      color: $white;
      font-weight: 500;
      cursor: pointer;
      font-size: 27px;
    }
    .login {
      height: 64.0291976928711px;
      width: 216.09854125976562px;
      font-family: "Nunito Sans", sans-serif;
      font-style: normal;
      color: $white;
      font-weight: 500;
      border-radius: 10px;
    }
  }
}
