.outerdivimg {
    margin: 4% 0 4% 0;
    width: 12%;
    height: 20vh;
    background-image: url("../assets/heartshapechoc.png");
    background-repeat: no-repeat;
    background-position: cover;
    background-size: 100% 100%;
    margin-left: 40%;
  }
    .innerdiv {
    display: flex;
    width: 100%;
    height: 50vh;
      .leftdiv {
      width: 50%;
      background-image: url("../assets/wall.png");
      background-repeat: no-repeat;
      background-position: cover;
      background-size: 70% 90%;
      margin-left: 4%;
    }
  }
    .rightdiv {
    ul {
      list-style-image: url('../assets/liimg.png');
    }
  
    li {
      width: 70%;
      padding: 1% 0;
      font-family: 'Futura';
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #ECE8E5;
    }
  }
  
  h2 {
    color: white;
  }
  
  .bottomdiv {
    margin: 3% 0 4% 0;
    padding: 2% 0 0 0;
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    button {
      width: 40%;
      height: 7vh;
      background: #433E40;
      border-radius: 10px;
      font-family: 'Futura';
      font-style: normal;
      font-weight: 500;
      font-size: 27px;
      line-height: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #ECE8E5;
    }
  }
  
  .outerdiv {
    background-image: url("../assets/curv.png");
    background-position: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  .row3 {
    background-color: #ECE8E5;
  }
  