.addcardmodal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 25px;
  width: 600px;
  h4 {
    color: var(--font-dark, #3f373a);
    font-family: Jost;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

    .textbox {
      input {
        border: 1px solid #c4c4c4;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
      }
    }
    .cardInput {
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      //   width: 462px;
      width: 100%;
      padding: 12px 10px;
      background: rgba(255, 255, 255, 0.3);
    }
    .bottomsection {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 18px;
      row-gap: 19px;
      flex-wrap: wrap;
      .select {
        width: 45%;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.3);
      }
    }
  }

  button {
    color: #fff;
    text-align: center;
    font-family: Jost;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
