.checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  height: 18px;
  width: 18px;
  .checkmark {
    position: absolute;
    height: 18px;
    width: 18px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;

    &.WHITE {
      background-color: #fff;
    }
    &.BROWN {
      background-color: #917d6a;
    }
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  input {
    display: none;

    // &:checked ~ .checkmark {
    //   // background: $txt-dark-2;
    //   background: #433e40;
    //   display: flex;
    // }

    // &:disabled ~ .checkmark {
    //   // opacity: 0.5;
    //   display: hidden;
    //   // cursor: not-allowed;
    // }
  }
}
