footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/vector.png);
  background-position: center;
  // height: 80%;
  gap: 80px;
  span {
    margin-top: 10px;
    color: #fff;
    font-family: Jost;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 112.953%; /* 16.884px */
    cursor: pointer;
  }
}

.fleft,
.fmiddle,
.fright {
  // width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  margin-top: 5%;

  &.fleft {
    // margin-left: 4%;
    align-self: flex-start;
    box-sizing: border-box;
  }

  &.fmiddle {
    // margin-left: -2%;
    padding-bottom: 3%;
    box-sizing: border-box;
  }

  &.fright {
    // margin-left: -14%;
    padding-bottom: 8%;
    box-sizing: border-box;
  }

  span:nth-child(1) {
    font-family: Gelasio;
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    color: #ffffff;
  }
}
