@import "../../../variables.scss";
.registeredEmails {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  .downloadBtn {
    position: relative;
    top: 15px;
    margin-left: 30px;
    width: auto;
    padding: 5px 10px;
    color: $white;
    background: $primary-brown;
    border-radius: 10px;
    border: none;
    font-family: "Jost", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-decoration: none;
  }
  .emails {
    margin-left: 30px;
    overflow-y: scroll;
    width: 40%;
    height: 90%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    .email {
      display: flex;
      margin-top: 10px;
      gap: 10px;
      font-family: "Jost", sans-serif;
      font-weight: 600;
      font-size: 20px;
      span {
        :first-child {
          width: 10px;
        }
        width: 30px;
      }
    }
  }
}
