/* .home-top {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../../../assets/background.png");
    background-repeat: no-repeat;
    background-size: 100% 90%;
    background-position: cover;
    background-color: #ECE8E5;
}

.topimage {
    width: 100%;
    height: 50%;
    position: absolute;
    margin-top: 50px;
    left: 100px;
    z-index: -1;
}

.toptext {
    top: 35%;
    left: 15%;
    position: absolute;
    z-index: 1;
    font-family: Gelasio;
    font-size: 66px;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 46px;
    color: white;
    margin: 0px;
    padding: 0px;
}

.middletext {
    position: absolute;
    top: 60%;
    left: 22%;
    transform: translate(-50%, 0);
    z-index: 1;
    background-color: #917D6A;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-weight: 600;

}

svg {
    position: absolute;
    left: 0px;
    bottom: 10px;
}

.chocoimage {
    position: absolute;
    z-index: 1;
    left: 28%;
    bottom: 10%;
    background-image: url("../../../assets/topchoco.png");
    background-position: cover;
    background-size: 100% 100%;
    width: 180px;
    height: 150px;
}


/* second */

/* .home-middle {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ECE8E5;
}
.home-middle .one {
    display: flex;
    width: 100%;
    height: 70vh;
    
}
.home-middle .one .left {
    width: 70%;
    padding: 0 5% 0 5%;
}
.left h3 {
    font-family: Gelasio;
    font-size: 40px;
    font-weight: 500;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #433E40;
}
.left .para1 {
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #433E40;
    margin-bottom: 4%;
}
.left .span1 {
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    margin-bottom: 4%;
   color: #433E40;
}

.one .right {
    position: relative;
    bottom: 10%;
    left: 1%;
    background-image: url("../../../assets/coffeBrand.svg");
    background-position: cover;
    background-size: 100% 100%;
    width: 80%;
    height: 65vh;
}
.left .para2 {
    font-family: 'Futura Lt BT';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #433E40;
    margin-top: 1%;
    margin-bottom: 4%;
}
.left .para3 {
    font-family: 'Futura Lt BT';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 112.95%;
    color: #433E40;
    width: 25%;
    margin: 2% 0 0 25%;
}
.left .para4 {
    font-family: 'Futura Lt BT';
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    line-height: 112.95%;
    color: #433E40;
    width: 25%;
    margin: 2% 0 0 25%;
}
.two {
display:flex;
height:32vh;
margin-top:-2%;
display:flex;
justify-content: space-around;
}
.two .colm-two{
position: relative;    
width:20%;
margin:1% 5%; 
}
.two .colm-two p{
margin:62% auto;
width:100%;
position: absolute;
top:-30%;
padding-left:30%;
font-family: 'Gelasio';
font-style: normal;
color: #917D6A;
box-sizing: border-box;
}

.two .colm-two p:first-line{
font-family: 'Gelasio';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 100%;
color: #917D6A;
}
 .colm-two .fi{
background-image: url("../../../assets/cup.png");
background-repeat: no-repeat;
background-position:center;
background-size: 30% 30%;
}
.colm-two .si{
background-image: url("../../../assets/bean.png");
background-repeat: no-repeat;
background-position:center;
background-size: 30% 30%;
}
 .colm-two .ti{
background-image: url("../../../assets/chaka.png");
background-repeat: no-repeat;
background-position:center;
background-size: 30% 30%;
}






.outerdivimg{
margin:4% 0 4% 0;    
width:12%;
height:20vh;;
background-image: url("../../../assets/heartshapechoc.png");
background-repeat: no-repeat;
background-position: cover;
background-size: 100% 100%;
margin-left:40%;
}
.inner-div{
 display:flex;  
 width:100%;
 height:50vh;
}
.inner-div .left-div{
width:50%;
background-image: url("../../../assets/wall.png");
background-repeat: no-repeat;
background-position: cover;
background-size: 70% 90%;
margin-left:4%;
}
.right-div ul {
list-style-image: url('../../../assets/liimg.png');
}
ul li{
width:70%;
padding:1% 0;
font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #ECE8E5;
}
h2{
color:white    
}
.bottom-div{
margin:3% 0 4% 0;    
padding:2% 0 0 0;    
height:25vh;
width:100%;
display:flex;
justify-content: center;
align-items: center;    
}
button{
width:40%;
height:7vh;
background: #433E40;
border-radius: 10px;
font-family: 'Futura';
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 36px;
display: flex;
justify-content: center;
align-items: center;
color: #ECE8E5;
}
.outer-div{
background-image: url("../../../assets/curv.png");
background-position: cover;
background-size: 100% 100%;
background-repeat: no-repeat;
}
.row3{
    background-color: #ECE8E5
}
 */ 

 /* .wrapper{
background-color: #ECE8E5;    
} */

