.productOrder {
  display: flex;
  width: 100%;
  // align-items: center;
  .col1 {
    display: flex;
    width: 68px;
    height: 68px;
    padding: 4.675px 16.965px 5.525px 16.115px;
    justify-content: center;
    align-items: center;
    border-radius: 3.807px;
    background: #f7f6f5;
    img {
      width: 34.921px;
      height: 57.8px;
      flex-shrink: 0;
    }
  }

  .col2 {
    margin-left: 30px;
    width: 40%;
    .id {
      color: var(--highlight, #b06934);
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
    .name {
      color: #3f373a;
      font-family: Gelasio;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
    .quant {
      color: var(--font-mid, #615c5e);
      font-family: Jost;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }
  .col3 {
    margin-left: 400px;
    color: var(--font-dark, #3f373a);
    text-align: right;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 112.953%; /* 22.591px */
  }
}
