.NotFoundContainer {
  display: flex;
  flex-direction: column;
  font-family: "Jost", sans-serif;
  background-color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .upper {
    display: flex;
    // height: 57vh;
    .upperleft {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: 15%;
      height: 100%;
      span:nth-child(1) {
        margin: 50px 0 0 0;
        font-style: normal;
        font-weight: 500;
        font-size: 56px;
        line-height: 110.95%;
        color: #433e40;
      }

      span:nth-child(2) {
        margin: 25px 0 0 0;

        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 110.95%;
        color: #433e40;
      }

      span:nth-child(3) {
        margin: 25px 0 0 0;
        width: 455px;
        height: 46px;
        background: #433e40;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ece8e5;
      }
    }

    .upperright {
      flex: 1;
    }
  }

  span:nth-child(1) {
    font-family: "Gelasio";
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 100%;
    color: #ffffff;
  }
}
